extends ../layouts/default

block main
    .jumbotron
        .container
            h1.display-3 Hello, world!
            p
                | Welcome to our giveay
            p
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
        // Example row of columns
        .row

                    a.btn.btn-secondary(href='#', role='button') Login