extends ../layouts/default

block main
    // First Container
    .container-fluid.bg-1.text-center
        h3.margin Get Your GiveAway?
        img.img-responsive.img-circle.margin(src='public/img/bird.jpg', style='display:inline', alt='Bird', width='350', height='350')
        h3 Right Now!

    // Second Container
    .container-fluid.bg-2.text-center
        h3.margin What We Are?
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.