extends ../layouts/default
block content
  .row
    .col-md-12
      .row
        .col-md-8.col-md-offset-2
          h1.text-center New Giveaway
      .row
        .container
        .col-md-8.col-md-offset-2
          form(action="/giveaways" method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            .form-group
              label(for="giveaway_title") Title
              input(type="text" class="form-control" id="giveaway_title" name="giveaway[title]" placeholder="Input your item name")
            .form-group
              label(for="giveaway_image") Image Url
              input(type="text" name="giveaway[image]" class="form-control" id="giveaway_image" placeholder="Paste image url")
            .form-group
              label(for="giveaway_description") Description
              textarea(class="form-control" name="giveaway[description]" id="giveaway_description"  placeholder="Describe item that you want to giveaway")
            .form-group
              label(for="giveaway_points") Points
              input(class="form-control" id="giveaway_points" name="giveaway[points]" placeholder="Rate your giveaway")
            .form-group
              label(for="giveaway_deadline") Deadline
              input(class="form-control" id="giveaway_deadline" name="giveaway[deadline]" data-date=true)
            .form-group
              button(type="submit" class="btn btn-success") Create Giveaway
              a.btn.btn-danger(href="/") Cancel