extends ../layouts/default

block content
  .row
    .col-md-12.panel.panel-default
      .panel-body
        .row
          .col-md-8
            h1= giveaway.title
          .col-md-4.pull-right
            a.participate-cta.btn.btn-success.col-md-4.pull-right
              i.fa.fa-gift
              span Participate
        hr.details-divider
        .row
          .col-md-8.giveaway-details
            .giveaway-body
              h3 Details
              p= giveaway.body
            .giveway-data
          .col-md-4
            img.img-responsive.img-rounded(src="#{giveaway.image}")